@import url(https://fonts.googleapis.com/css?family=Roboto:500,300,400);
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


body {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    color: #cecece;
    background: #2a2b30;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type=submit], a.button, button {
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.upload-form{
    position: relative;
    display:inline-block;
    margin-left: 50px;
    
}
input[type=submit]:hover, button:hover{
    opacity: 0.8;
}

input[type=submit]:active{
    opacity: 0.6;
}
.container {
    overflow-y: auto;
    height: 100vh;
}
.content{
    position: relative;
    min-height: 300px;
    margin: 0 0 0 300px;
}
.menu {
    position: fixed;
    top: 120px;
    left: 0;
    width: 300px;
    height: calc(100vh - 120px);
    background: #1c1d22;
}

.menu-wrap {
    position: absolute;
    top: .5em;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}
.menu-level {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: scroll;
    width: calc(100% + 50px);
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    display: block;
    width: calc(100% - 50px);
}

.menu-link {
    font-weight: 600;
    position: relative;
    display: block;
    padding: 1em 2.5em 1em 1.5em;
    color: #fff;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}


.menu-link:hover{
    color: #0E2C73;
}
.left-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 120px;
    padding: 1em 0 0 0;
    text-align: center;
    color: #fff;
    background: #1c1d22;
}
.header-main {
    margin: 0 0 0 auto;
    padding: 2em 3em 0;
    text-align: right;
}
.header-main a, li{
    color:#fff;
    list-style-type: none;
}
.header-main-top{
    font-size: 0.75em;
    font-weight: 700;
    position: relative;
    z-index: 100;
    display: block;
    margin: 0 10px 0 0;
    padding: 0 0 0.6em 0;
    text-indent: 3px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header-main-logo{
    margin: 0.5em 0 0 auto;
    text-align: right;
}
.icon-item{
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: 0 0.1em;
    text-align: center;
    border-radius: 50%;
}
.fa{
    position: relative;
    top: calc(50% - 10px);
}

.icon-item > span {
    display: none;
}

.icon-item:hover {
    background: #0E2C73;
    color:#bdbdbd;
}
.bp-icon:after {
    font-family: 'bpicons';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    text-transform: none;
    color: #5c5edc;
    -webkit-font-smoothing: antialiased;
    speak: none;
}

.bp-nav .bp-icon:after {
    line-height: 2.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 0;
}

.left-logo{
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    font-weight: 200;

}
.left-header span{
    color: #0E2C73 !important;
    font-weight: bold;
}
.info {
    font-size: 1.1em;
    font-weight: bold;
    padding: 20vh 1em 0;
    text-align: center;
    color: #47484c;
}
.image-container{
    position: relative;
    min-height: 300px;
    margin: 0 0 0 20px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    width:22%;
    min-height: 150px;
}
.image-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    width:100%;
    height: auto;
}
.image-detail img{
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    width:70%;
    height: auto;
}
.image:hover{
    border: 1px solid gray;
    opacity: 0.7;
}
.image img{
    display: inline-block;
    padding: 5px;
    width:90%;
    height: auto;
}
.download{
    display:block;
    padding: 5px;
    text-align: center;
}
.body{
    position: fixed;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url('../images/new-york.jpg');
    background-size: cover;
    -webkit-filter: blur(1px);
    z-index: 0;
}

.grad{
    position: fixed;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}

.header{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

.header div{
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.header div span{
    color: #0E2C73 !important;
    font-weight: bold;
}

a {
    color:#0E2C73;
    text-decoration:none;
}
.login{
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}
.login-bottom{
    width: 100%;
    font-size: 14px;
    line-height: .6em;
}
.login form{
    float: left;
    width: 100%;
    height: auto;
}


.login input[type=text]{
    width: 260px;
    height: 35px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login input[type=password]{
    width: 260px;
    height: 35px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login input[type=button]{
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.login input[type=button]:hover{
    opacity: 0.8;
}

.login input[type=button]:active{
    opacity: 0.6;
}

.login input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
    outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}